@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
@section Style{
    <link rel="stylesheet" href="~/css/404.css" />
}

<h1>@Model.StatusCode</h1>
<p>Oops! Something is wrong.</p>
<p>@Model.Message</p>
