@using DeliveryServiceDomain
@model List<Shipment>

<table>
    <thead>
        <tr>
            <th>Shipment Code</th>
            <th>Sending Location</th>
            <th>Receiving Location</th>
            <th>Conntact Person</th>
            <th>Current Status</th>
            <th>Liabled Deliverer</th>
        </tr>
    </thead>                                       
</table>     