@model DeliveryServiceApp.Models.AdditonalServiceViewModel

<tr id="row_@Model.AdditionalServiceId">
    <td>@Model.AddtionalServiceName <input value="@Model.AdditionalServiceId" name="Services[@Model.Sn].AdditionalServiceId" data-name="serviceId" hidden /> </td>
    <td>@Model.AdditonalServicePrice RSD </td>
    <td>
        <button class="btn btn-outline-dark btn-sm" name="remove" type="button" onclick="removeRow(this)">Remove</button>
    </td>
</tr>