@model DeliveryServiceApp.Models.AdditonalServiceViewModel

<tr>
    <td>@Model.AddtionalServiceName <input value ="@Model.AdditionalServiceId" name="Services[@Model.Sn].AdditionalServiceId" hidden /> </td>
    <td>@Model.AdditonalServicePrice</td>
</tr>