@model DeliveryServiceApp.Models.CreateShipmentViewModel;

@{
    ViewData["Title"] = "Create Shipment";
}


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Shipment" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnrollmentYear" class="control-label"></label>
                <input asp-for="EnrollmentYear" class="form-control" />
                <span asp-validation-for="EnrollmentYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnrollmentNumber" class="control-label"></label>
                <input asp-for="EnrollmentNumber" class="form-control" />
                <span asp-validation-for="EnrollmentNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <label asp-for="StudyProgramId" class="control-label"></label>
                <select asp-for="StudyProgramId" asp-items="Model.StudyPrograms" class="form-control" ></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}