@model DeliveryServiceApp.Models.CreateShipmentViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>CreateShipmentViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ShipmentWeight" class="control-label"></label>
                <input asp-for="ShipmentWeight" class="form-control" />
                <span asp-validation-for="ShipmentWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipmentContent" class="control-label"></label>
                <input asp-for="ShipmentContent" class="form-control" />
                <span asp-validation-for="ShipmentContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SendingCity" class="control-label"></label>
                <input asp-for="SendingCity" class="form-control" />
                <span asp-validation-for="SendingCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SendingAddress" class="control-label"></label>
                <input asp-for="SendingAddress" class="form-control" />
                <span asp-validation-for="SendingAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SendingPostalCode" class="control-label"></label>
                <input asp-for="SendingPostalCode" class="form-control" />
                <span asp-validation-for="SendingPostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceivingCity" class="control-label"></label>
                <input asp-for="ReceivingCity" class="form-control" />
                <span asp-validation-for="ReceivingCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceivingAddress" class="control-label"></label>
                <input asp-for="ReceivingAddress" class="form-control" />
                <span asp-validation-for="ReceivingAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceivingPostalCode" class="control-label"></label>
                <input asp-for="ReceivingPostalCode" class="form-control" />
                <span asp-validation-for="ReceivingPostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactPersonName" class="control-label"></label>
                <input asp-for="ContactPersonName" class="form-control" />
                <span asp-validation-for="ContactPersonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactPersonPhone" class="control-label"></label>
                <input asp-for="ContactPersonPhone" class="form-control" />
                <span asp-validation-for="ContactPersonPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Select Additional Services</label>
                <select asp-items="@Model.AdditionalServices" class="form-control" type="button" id="additionalServices"></select>
            </div>

             <div class="form-group">
               <button class="btn btn-dark" id="addService">Add Additional Service</button>
            </div>

            <table class="table" id="additionalServicesTable">
                <thead>
                    <tr>
                        Added Service
                    </tr>
                    <tr>
                        Price
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $("#addService").click(function(){
            $("#additionalServicesTable tbody").append(`
            <tr>
                <td> ${$("#additionalServices").text.substr(0, $("#additionalServices").text.indexOf(" "))} 
                    <input name="" value="${$("#additionalServices").val()}" />
                </td>
                <td> ${$("#additionalServices").text.substr($("#additionalServices").text.indexOf(" ") + 1)} </td>
            </tr>`)
        })
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
