@model DeliveryServiceApp.Models.ShipmentMonitoringViewModel

<h3>Track the status</h3>
<h4>of your shipment</h4>
<hr/>

<div class="row">
    <div class = "col-12">
        <form asp-action="ShipmentMonitoring" method="post">
            <div class="row">
                 <div class="col-md-6">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                         <label asp-for="ShipmentCode" class="control-label">Enter shipment code:</label>
                         <input asp-for="ShipmentCode" class="form-control" />
                         <span asp-validation-for="ShipmentCode" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                          <input type="submit" value="Find" class="btn btn-warning btn-block" />
                    </div>
                 </div>
            </div>
        </form>
    </div>
</div>