@model DeliveryServiceApp.Models.ShipmentMonitoringViewModel

<h4>Statuses of your shipment</h4>
<h5>Shipment Code: @Model.ShipmentCode</h5>
<hr />
<table class="table">
	<thead>
		<tr>
			<th>Shipment Status</th>
			<th>Status Time</th>
		</tr>
	</thead>
	<tbody>
		@foreach (StatusShipmentViewModel item in @Model.ShipmentStatuses)
	   {
		   <tr>
			<td>@item.StatusName</td>
			<td>@item.StatusTime</td>
		</tr>
	   }
	</tbody>
</table>