@model DeliveryServiceApp.Models.RegistrationViewModel

<div class="wrapper">

    <div class="col-md-4">
        <form asp-action="Registration">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="form-group">
                <input asp-for="FirstName" class="form-control field" placeholder="First name" spellcheck="false"  />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
             <div class="form-group">
                <input asp-for="LastName" class="form-control field" placeholder="Last name" spellcheck="false"  />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
             <div class="form-group">
                <input asp-for="Username" class="form-control field" placeholder="Username" spellcheck="false"  />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Email" class="form-control field" placeholder="Email" type="email"  />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="PhoneNumber" class="form-control field" placeholder="Phone number ___-___-____" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"  />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Password" class="form-control field" type="password" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ConfirmPassword" class="form-control field" type="password" placeholder="Confirm password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Registration" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>