@using DeliveryServiceDomain;
@inject SignInManager<Person> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Road Runner</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Style", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                   <img src="~/img/roadRunner_logo.jfif" width="60" height="60" d-inline-block align-top" alt="">  Road Runner
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-sm-end">
                    <ul class="navbar-nav">
                        @if(signInManager.IsSignedIn(User))
                        {
                            @if(User.IsInRole("Customer")){
                                <li class="nav-item flex-grow-1 justify-content-sm-end">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Shipment" asp-action="CustomerShipments">My Shipments</a>
                                </li>
                                <li class="nav-item flex-grow-1 justify-content-sm-end">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Shipment" asp-action="ShipmentMonitoring">Shipment Status</a>
                                </li>
                                <li class="nav-item flex-grow-1 justify-content-sm-end">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Calculator" asp-action="CalculateShipment">Shipping Calculator</a>
                                </li>
                                <li class="nav-item flex-grow-1 justify-content-sm-end">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Shipment" asp-action="Create">Order a Shipment</a>
                                </li>
                            } else if (User.IsInRole("Deliverer"))
                            {
                                <li class="nav-item flex-grow-1 justify-content-sm-end">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Shipment" asp-action="AllShipments">All Shipments</a>
                                </li>
                            }
                                 <li class="nav-item flex-grow-1 justify-content-sm-end">
                                     <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">My profile</a>
                                 </li>
                                 <li class="nav-item flex-grow-1 justify-content-sm-end">
                                    <form method="post" asp-action="Logout" asp-controller="Authentication">
                                        <button type="submit" class="nav-link btn btn-link btn-sm">
                                            Logout @User.Identity.Name
                                        </button>
                                    </form>
                                </li>
                        }
                        else
                        {
                        <li class="nav-item flex-grow-1 justify-content-sm-end">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item flex-grow-1 justify-content-sm-end">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="Register">Register</a>
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - DeliveryServiceApp
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
