@model ErrorViewModel
@{
    ViewData["Title"] = "Ooops!";
}

<h2 class="text-danger">An error occurred while processing your request.</h2>
<h3>@Model.Message</h3>

 <div>
    <a asp-action="Index" asp-controller="Home" class="btn btn-warning">
        Return to the Home Page
    </a>
</div>